
@model IEnumerable<ProyectoIHER.ModelViews.UserView>
@{
    ViewBag.Title = "Index";
}

<h2>Permisos</h2>

<table class="table table-striped">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.ActionLink("Roles", "Roles", new { userID = item.UserID }) 
            </td>
        </tr>
    }

</table>


