@{
    ViewBag.Title = "Inicio";
}


<body>
    <p></p>
    <p></p>
    <h1>Bienvenido!</h1>
    <p><h2>¿Que haremos hoy?</h2></p>
    <p></p>
    <p></p>
  
        <div class="card-columns">

            <div class="card modal-content fondotransparenteblanco" style="width: 20rem;">
                <img src="~/Imagenes/Security.png" class="card-img-top img-fluid" alt="Mantenimiento" width="180" />
                <div class="card-body">
                    <h4 class="card-title">Mantenimiento</h4>
                    <p class="card-text">Configurar el mantenimiento del sistema</p>
                    <a href="#" class="btn btn-primary BotonEstirado">Ingresar</a>
                </div>
            </div>

        </div>
   
</body>