@model System.Web.Mvc.HandleErrorInfo

@{
     Layout = "~/Views/Shared/LayoutParaLogin.cshtml";
    ViewBag.Title = "Bloqueado";
}


    <h1>Esta cuenta se ha bloqueado, comuniquese con el administrador.</h1>
    

